/* src/index.css or src/index.scss */
@import "~swiper/swiper-bundle.min.css";


/* Example styles for the message slide */
.tips-slide {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  