/* GallerySection.css */

.gallery-container {
    position: relative;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .image-container:hover .text {
    opacity: 1;
    transform: translateY(0);
  }
  