/* styles.css */
.theme-changer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
}

.theme-button.light-mode {
  background-color:#43b22d;;
  color: #ffffff;
}

.theme-button.dark-mode {
  background-color: #ffffff;
  color: #000000;
}

.theme-button:hover {
  background-color: #19613a;
  color: #ffffff;
}
