/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #5c633e;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    background-color: #a59c45;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(12, 12, 12);
  }
  .card h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 768px) {
    .card {
      flex-basis: 100%;
    }
  }
  